# Logs, checkpoints, cache, ...
*.egg-info
build
dist
__pycache__
slurm
.ipynb_checkpoints
wandb

# Data
data_splits

# Notebooks
*.ipynb
!metric_learning.ipynb

# Remove all yaml
*.yaml
# Except simple.yaml
!simple.yaml
!classification.yaml
!simclr.yaml